<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="navbar">
       
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/logout">LOG OUT</a></li>
           
        </ul>
        <div class="intro"> <h2>ONE PITCH</h2></div>

        
    </div> <br>


    <h1>SIGN IN</h1>
    <div class="frm"> 
        <form action="" method="POST">
            {{form.hidden_tag()}}
            {{form.username}}
            {{form.password}}
            {{form.submit}}
    </form>
    <a href="{{url_for('login')}}">already have an account? Log In</a>
</div> 
    
</body>
</html>
<style>
.navbar ul{
        display: flex;
        gap: 50px;
        float: right;
        text-decoration: none;
        font-size: 20px;
        
    }
    .navbar ul li a{
        text-decoration: none;
    }
    body{
        background-color: cadetblue;
    }


    h1{
        text-align: center;
        font-size: 30px;
    }
    .frm{

        text-align: center;
    }
    #in{
        height: 40px;
        width: 240px;
        border-radius: 200px;
    }
   

    
</style>