<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/home">LOGIN</a></li>
            <li><a href="/sports">PROFILE</a></li>
            <li><a href="/entertainment">LOG OUT</a></li>
           
        </ul>

        
    </div>
    <h1>welcome to pitch hub</h1>
    <p>One Minute Pitch:
        Make it happen in a minute.
        
        You only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
    <button>NEW PITCH</button>
    <button>VIEW PITCHES</button>
</body>
</html>